page-tickets1 {
    .tabs-color-active-positive, .tabs {
        color: #c49137 !important;
        
        }

        .textarea {
            border-style: solid;
            overflow: auto;
            outline: none;
            box-sizing: border-box;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
}
