page-json-card {

    .secondry-content {
        background: rgb(60, 60, 60);
    }

    .primary-content {
        background: rgb(22, 21, 21);
    }
    .balanced{
        color: rgba(255, 0, 0, 0.699);
      }
    textarea{
        height:200px;	
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    #item-divider{
        background: rgb(90, 85, 85);
        color: white;
        width: 10px;
        height: 4px;
      }
      .item-divider:active{
        opacity: 0.8;
      }
      #FabDIsplay{
          position: relative;
          color: azure
      }

     #rounded {
        width: 100%;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 10px;
        margin-bottom: 10px;  
    }
    
}
