<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <discoverySpi type="TcpDiscoverySpi" clientReconnectDisabled="true" />
  
    
      
  <igniteConfiguration>
    <cacheConfiguration>
        <cacheConfiguration>
             <communicationSpi type="TcpCommunicationSpi" slowClientQueueLimit="1000" />
            <cacheConfiguration cacheMode="Partitioned" backups="0" />
          	<evictionPolicy type='LruEvictionPolicy' maxSize='1000000' />
                <cacheConfiguration rebalanceBatchSize="1048576" rebalanceThrottle="0:0:0" />
          <clientConnectorConfiguration host='myHost' port='10900' portRange='50' maxOpenCursorsPerConnection='50' />
     <userAttributes>
        <pair key='ROLE' value='worker' />
    </userAttributes>
        </cacheConfiguration>
    </cacheConfiguration>
      <discoverySpi type='TcpDiscoverySpi'>
          <ipFinder type='TcpDiscoveryMulticastIpFinder' multicastGroup='228.10.10.157'>
            <endpoints>
                <string>1.2.3.4</string>
                <string>1.2.3.5:47500..47509</string>
            </endpoints>
        </ipFinder>  
  </discoverySpi> 
  <communicationSpi type='TcpCommunicationSpi' localPort='4321' />
</igniteConfiguration>
</configuration>